.whatsapp-img-div {
  position: fixed;
  z-index: 1000;
  top: 550px;
  left: 320px;
  transform: translateX(-50%);
  cursor: pointer;
  margin-left: 30px;
}
.whatsapp-img-size {
  width: 60px;
  height: 60px;
}
.whatsapp-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (width >=1000px) {
  .whatsapp-img-div {
    position: fixed;
    z-index: 1000;
    top: 480px;
    left: 320px;
    transform: translateX(-50%);
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .whatsapp-img-div {
    position: fixed;
    z-index: 1000;
    top: 480px;
    left: 320px;
    transform: translateX(-50%);
    cursor: pointer;
  }
  .esp-p {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .hero-section {
    height: 135vh;
  }
  .whatsapp-img-div {
    position: fixed;
    z-index: 1000;
    top: 420px;
    left: 320px;
    transform: translateX(-50%);
    cursor: pointer;
    margin-left: 0px;
  }
}
